{% extends "main_template.html" %}

{% block content %}

    <div class="container-fluid">
        <div class="row" ng-if="pages.length">
            <div class="col-sm-4 col-md-4 col-lg-4 col-xs-offset-3 col-sm-offset-5 col-md-offset-5 col-lg-offset-5">
                <ul class="pagination">
                    {% raw %}
                    <li><a href="#" ng-click="search(pages[0].value)">&laquo;</a></li>

                    <li ng-repeat="page in pages"><a href="#" ng-click="search(page.value)" ng-class="{'active': page.value == currentPage}">{{ page.text }}</a></li>

                    <li><a href="#" ng-click="search(pages[pages.length-1].value)">&raquo;</a></li>
                    {% endraw %}
                </ul>
            </div>
            <div class="col-sm-4 col-md-4 col-lg-4 col-xs-offset-3 col-sm-offset-5 col-md-offset-5 col-lg-offset-5">
                Se encontraron <span ng-bind="total" style="font-weight: bold"></span> resultados para <span ng-bind="searchBox" style="font-weight: bold"></span>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-12 col-sm-8 col-md-8 col-lg-8 col-sm-offset-2 col-md-offset-2 col-lg-offset-2">
                <div class="productsrow">
                    <div class="product menu-category" ng-repeat="item in results">
                        {% raw %}
                        <div class="menu-category-name list-group-item active"
                             style="background-color: {{ colores[item.domain_name] }}">
                            <span class="badge" style="float:none">{{ item.domain_name }}</span>
                            {{ item.title }}
                        </div>
                        <div class="product-image">
                            <img class="product-image menu-item list-group-item"
                                 ng-src="{{ item.image || '../static/images/icon.png' }}">
                        </div>
                        <a item_desc href="{{ item.link }}" class="menu-item list-group-item item-description" target="_blank" >{{ item.desc }}</a>
                        <p ng-bind-html="item.desc_html" style="display: none"></p>
                        <span class="badge">{{ item.precio }}</span>
                        {% endraw %}
                    </div>
                </div>
            </div>
        </div>
        <div class="row" ng-if="pages.length">
            <div class="col-sm-4 col-md-4 col-lg-4 col-xs-offset-3 col-sm-offset-5 col-md-offset-5 col-lg-offset-5">
                <ul class="pagination">
                    {% raw %}
                    <li><a href="#" ng-click="search(pages[0].value)">&laquo;</a></li>

                    <li ng-repeat="page in pages"><a href="#" ng-click="search(page.value)" ng-class="{'active': page.value == currentPage}">{{ page.text }}</a></li>

                    <li><a href="#" ng-click="search(pages[pages.length-1].value)">&raquo;</a></li>
                    {% endraw %}
                </ul>
            </div>
        </div>
    </div>

{% endblock %}

{% block scripts %}
<script src="../static/rebuscon/app.js"></script>
<script src="../static/rebuscon/SearchCtrl.js"></script>
<script type="text/javascript">
    var searchUrl = "{{ url_for("buscar") }}";
    {% autoescape false %}
    var colores = {{ colores }};
    {% endautoescape %}
</script>
{% endblock %}