<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1"/>
    <meta name="description" content=""/>
    <meta name="author" content=""/>
    <!--[if IE]>
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <![endif]-->
    <!-- Favicon Icon -->
    <link rel="icon" href="../static/images/favicon.ico"/>
    <title>{% block title %} ReBuscon {% endblock %}</title>
    <!-- BOOTSTRAP CORE CSS -->
    <link href="../static/bower_components/bootstrap/dist/css/bootstrap.css" rel="stylesheet"/>
    <!-- ION ICONS STYLES -->
    <link href="../static/bower_components/Ionicons/css/ionicons.css" rel="stylesheet"/>
    <!-- FONT AWESOME ICONS STYLES -->
    <link href="../static/bower_components/font-awesome/css/font-awesome.css" rel="stylesheet"/>
    <!-- TOOLTIP STYLES -->
    <link href="../static/bower_components/tooltipster/css/tooltipster.css" rel="stylesheet"/>
    <link href="../static/bower_components/tooltipster/css/themes/tooltipster-shadow.css" rel="stylesheet"/>
    <!-- CUSTOM CSS -->
    <link href="../static/style.css" rel="stylesheet"/>
    <!-- IE10 viewport hack  -->
    <script src="../static/ie-10-view-port.js"></script>
    <!-- HTML5 Shiv and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
</head>
<body ng-app="RebusconApp">

<div class="wrapper" ng-controller="SearchCtrl">
    <!-- HEADER SECTION START-->
    <header id="header">
        <div class="container-fluid">
            <div class="row">
                <div class="col-lg-2 col-md-2 col-sm-2 col-xs-12 logo-wrapper">
                    <img src="../static/images/logo.png" alt=""/>
                </div>
                <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12 logo-wrapper">
                    <div class="input-group">
                        <div class="input-group-btn">
                            <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown"><span
                                    class="glyphicon glyphicon-chevron-down"></span></button>
                            <ul class="dropdown-menu">
                                <li><a href="#">Category 1</a></li>
                                <li><a href="#">Category 2</a></li>
                                <li><a href="#">Category 3</a></li>
                                <li><a href="#">Category 4</a></li>
                                <li><a href="#">Category 5</a></li>
                            </ul>
                        </div>
                        <!--<form id="form_buscar" class="form-horizontal" action="/buscar" method="post"></form>-->
                        <input class="form-control" type="text" placeholder="Buscar..." ng-model="searchBox" ng-keyup="$event.keyCode == 13 && search()">
                        <span class="input-group-addon"><span class="glyphicon glyphicon-search" ng-click="search()" ></span> </span>
                    </div>
                </div>
                <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12 text-right">
                    <div class="menu-links scroll-me">
                        <a href="#header"> <i class="ion-ios-home-outline"></i> </a>
                        <a href="#about"> <i class="ion-ios-camera-outline"></i> </a>
                        <a href="#clients"> <i class="ion-ios-grid-view-outline"></i> </a>
                        <a href="/contacto"> <i class="ion-ios-chatboxes-outline"></i> </a>
                    </div>
                </div>
            </div>
        </div>
    </header>
    <!-- HEADER SECTION END-->

    {% block content %} {% endblock %}

    <div class="push"></div>
</div>

<div class="loadingMask">&nbsp;</div>

<!-- FOOTER SECTION START-->
<footer>
    <div class="container">
        <div class="row text-center">
            <div class="col-lg-12 col-md-12 col-sm-12">
                &copy; 2015 Rebuscon.com | by <a href="http://www.facebook.com/" target="_blank">
                NombreDelGrupo </a>
            </div>

        </div>
    </div>
</footer>
<!-- FOOTER SECTION END-->

<!-- JAVASCRIPT FILES PLACED AT THE BOTTOM TO REDUCE THE LOADING TIME  -->
<!-- CORE JQUERY  SCRIPTS -->
<script src="../static/bower_components/jquery/dist/jquery.js"></script>
<!-- BOOTSTRAP SCRIPTS  -->
<script src="../static/bower_components/bootstrap/dist/js/bootstrap.js"></script>
<!-- ANGULAR SCRIPTS  -->
<script src="../static/bower_components/angular/angular.min.js"></script>
<script src="../static/bower_components/angular-sanitize/angular-sanitize.js"></script>
<!-- CUSTOM SCRIPTS   -->
<script src="../static/bower_components/custom/lib/Custom.js"></script>
<!-- TOOLTIPS -->
<script src="../static/bower_components/tooltipster/js/jquery.tooltipster.js"></script>

<script src="../static/rebuscon/utils.js"></script>
{% block scripts %} {% endblock %}
</body>
</html>
