{% extends "main_template.html" %}

{% block content %}

    <div class="container-fluid">
        <div class="row">
            <div class="col-xs-12 col-sm-8 col-md-8 col-lg-8 col-sm-offset-2 col-md-offset-2 col-lg-offset-2">
                <form id="form_pagination" action="/buscar" method="post">
                    <ul class="pagination">
                        <li><a href="#" numpage="{{ range(numPages)[0] }}" onclick="click_pag_item(this);">&laquo;</a></li>

                        {% if total > 0 %}
                            {% for numPage in range(numPages) %}
                                <li><a href="#" numpage="{{ numPage }}"
                                       onclick="click_pag_item(this);">{{ numPage + 1 }}</a></li>
                            {% endfor %}
                        {% endif %}
                        <li><a href="#" numpage="{{ range(numPages)[numPages-1] }}" onclick="click_pag_item(this);">&raquo;</a></li>
                    </ul>
                    <input name="q" type="hidden" value="{{ q }}">
                </form>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-12 col-sm-8 col-md-8 col-lg-8 col-sm-offset-2 col-md-offset-2 col-lg-offset-2">
                <div class="productsrow">
                    {% for item in results %}
                        <div class="product menu-category">
                            <div class="menu-category-name list-group-item active"
                                 style="background-color: {{ colores[item.domain_name] }}">
                                <span class="badge" style="float:none">{{ item.domain_name }}</span>
                                {{ item.title }}
                            </div>
                            <div class="product-image">
                                <img class="product-image menu-item list-group-item" src="{{ item.image }}">
                            </div>
                            <a href="{{ item.link }}"
                               class="menu-item list-group-item item-description" target="_blank">{{ item.desc }}</a>
                            <span class="badge">{{ item.precio }}</span>
                        </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>

{% endblock %}

{% block scripts %}
    <script type="text/javascript">
        function click_pag_item(pag_item) {
            var s_elem = $("<input/>");
            s_elem.attr("name", "s")
                    .attr("type", "hidden")
                    .val($(pag_item).attr("numpage"));

            $('#form_pagination').append(s_elem);
            $('#form_pagination').submit();
        }
    </script>
{% endblock %}